/* Do not change any line marked -keep- */

html {
    font-size: 100%; /* keep */
    box-sizing: border-box; /* keep */
}
* {
    box-sizing: inherit; /* keep */
    outline: 0px solid red; /*delete!!!!*/
    outline-offset: -1px; /*delete!!!!*/
}
body {
    font-family: "Scheherazade New", Georgia, serif;
    background: #5598b2; /* keep */
    color: #333; /* keep */
    margin: 0; /* keep */
    max-width:100%;
    line-height: 1;
}
h1, h2 {
    font-family: "Noto Sans", Verdana, sans-serif;
}
#tagline {
    font-style: italic;
    line-height: 1;
}
/* all images will stretch to fill their containing element */
img {
    display: block; /* keep */
    width: 100%; /* keep */
}

/* In the grid container below, you will change the columns,
    the rows, and the AREAS to layout the page as instructed
    in the assignment. After it matches the wide example, you will
    write a media query with CSS rules to change the
    layout to match the phone layout example.
    */

/* grid container */
#container {
    max-width: 1280px; /* keep */
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat(5, .5fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "header header header header header"
        "pairing pairing pairing arial georgia"
        "bobwhite-quail bobwhite-quail readability readability readability"
        "bobwhite-quail bobwhite-quail line-length line-length line-length"
        "typeface typeface typeface helvetica helvetica"
        "footer footer footer footer footer";
}

/* all grid items -
    these are the 10 direct children of the container
    - all the grid items are here already!
    You may add lines as needed. Do not change any line marked -keep-
    */

header {
    grid-area: header; /* keep */
    background: #fff; /* keep */
    padding: 2em 1em .5em 1em;
    margin: 0;
    align-items: center;
    text-align: center;
    font-size: 200%;
    line-height: 1;
}
#arial {
    grid-area: arial; /* keep */
    background: #a8e8ff; /* keep */
    padding: 3em .5em 1em 1em;
    margin: 0;
    line-height: 1;
}
#georgia {
    grid-area: georgia; /* keep */
    background: #a8e8ff; /* keep */
    padding: 3em 1em 1em .5em;
    margin: 0;
    line-height: 1;
}
#pairing {
    grid-area: pairing; /* keep */
    background: #a8e8ff; /* keep */
    padding: 1.5em .5em 1em 2em;
    margin: 0;
    font-size: 200%;
    line-height: 1;
}
#bobwhite-quail {
    grid-area: bobwhite-quail; /* keep */
    background: #d2f4ff; /* keep */
    padding: 5em 1em 1em 3em;
}
#readability {
    grid-area: readability; /* keep */
    background: #d2f4ff; /* keep */
    padding: 2em 1em 0em 1em;
    margin: 0;
    font-size: 150%;
    line-height: 1;
}
#line-length {
    grid-area: line-length; /* keep */
    background: #d2f4ff; /* keep */
    padding: 0em 1em 4em 1em;
    margin: 0;
    font-size: 150%;
    line-height: 1;
}
#helvetica {
    grid-area: helvetica; /* keep */
    background: #fff; /* keep */
    padding: 2em;
    margin: 4em 1em auto 1em;
}
#typeface {
    grid-area: typeface; /* keep */
    color: #d2f4ff; /* keep */
    background: #5598b2; /* keep */
    padding: 2em 1em 3em 1em;
    font-size: 150%;
    line-height: 1;
    text-shadow: 2px 2px #000;
}

footer {
    grid-area: footer; /* keep */
    background: #b2988a; /* keep */
    padding: 1em;
    margin: 0;
    text-align: center;
    font-size: 175%;
}

/* end of all 10 grid items */


/* pseudo classes */
a {
    color: #7c6a60; /* keep */
}
a:hover {
    color: #f4cdb7; /* keep */
    text-decoration: none; /* keep */
}

/* media queries below - only 1 is needed */

@media screen and (max-width: 1113px) {
  #container{
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
        "header header"
        "arial georgia"
        "pairing pairing"
        "bobwhite-quail bobwhite-quail"
        "readability readability"
        "line-length line-length"
        "helvetica helvetica"
        "typeface typeface"
        "footer footer";
  }

  #pairing{
    padding: .75em;
  }

  #bobwhite-quail{
    padding: .75em;
  }

  #readability{
    padding: .75em;
  }

  #line-length{
    padding: .75em;
  }

  #helvetica{
    margin: 0;
    padding: 0;
  }

  #helvetica p{
    padding: .75em;
  }

  #typeface{
    padding: .75em;
  }

  header{
    padding: .75em;
  }

  header img{
    display: none;
  }

  footer{
    padding: inherit;
  }

}
